In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bear-attacks-north-america/data (3).csv

In [2]:
df = pd.read_csv('/kaggle/input/bear-attacks-north-america/data (3).csv')
df.head()

,Name,age,gender,Date,Month,Year,Type,Location,Description,Type of bear,Hunter,Grizzly,Hikers,Only one killed,Latitude,Longitude
0,Mary Porterfield,3.0,female,19/05/1901,May,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0,38.864277,-79.556998
1,Wilie Porterfield,5.0,male,19/05/1901,May,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0,38.864277,-79.556998
2,Henry Porterfield,7.0,male,19/05/1901,May,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0,38.864277,-79.556998
3,John Dicht,18.0,male,24/11/1906,Nov,1906,Wild,"Elk County, Pennsylvania","Thinking the bear was dead, Dicht began skinni...",Black bear,0,0,0,1,41.437362,-78.626009
4,Baby Laird,1.0,NaN,05/10/1908,Oct,1908,Captive,"Tucson, Arizona",After a bear escaped from a cage at Elysian Gr...,Black bear,0,0,0,1,32.222876,-110.974847

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             166 non-null    object
 1    age             164 non-null    float64
 2   gender           165 non-null    object
 3   Date             166 non-null    object
 4   Month            166 non-null    object
 5   Year             166 non-null    int64
 6   Type             166 non-null    object
 7   Location         166 non-null    object
 8   Description      166 non-null    object
 9   Type of bear     166 non-null    object
 10  Hunter           166 non-null    int64
 11  Grizzly          166 non-null    int64
 12  Hikers           166 non-null    int64
 13  Only one killed  166 non-null    int64
 14  Latitude         120 non-null    float64
 15  Longitude        120 non-null    float64
dtypes: float64(3), int64(5), object(8)
memory usage: 20.9+ KB

In [4]:
print(df.isna().sum())

Name                0
 age                2
gender              1
Date                0
Month               0
Year                0
Type                0
Location            0
Description         0
Type of bear        0
Hunter              0
Grizzly             0
Hikers              0
Only one killed     0
Latitude           46
Longitude          46
dtype: int64

In [5]:
#make columns lowercase
df.columns=[i.strip().replace(' ','_').lower() if len(i.strip().split())>1 else i.strip().lower() for i in df.columns]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             166 non-null    object
 1   age              164 non-null    float64
 2   gender           165 non-null    object
 3   date             166 non-null    object
 4   month            166 non-null    object
 5   year             166 non-null    int64
 6   type             166 non-null    object
 7   location         166 non-null    object
 8   description      166 non-null    object
 9   type_of_bear     166 non-null    object
 10  hunter           166 non-null    int64
 11  grizzly          166 non-null    int64
 12  hikers           166 non-null    int64
 13  only_one_killed  166 non-null    int64
 14  latitude         120 non-null    float64
 15  longitude        120 non-null    float64
dtypes: float64(3), int64(5), object(8)
memory usage: 20.9+ KB